# Standardize all commit author attribution on GitHub to Suhas
Suhas <41699212+OriAlpha@users.noreply.github.com> suhas <181110269+suhas-cmyk@users.noreply.github.com>
Suhas <41699212+OriAlpha@users.noreply.github.com> <181110269+suhas-cmyk@users.noreply.github.com>
Suhas <41699212+OriAlpha@users.noreply.github.com> <claude@anthropic.com>
Suhas <41699212+OriAlpha@users.noreply.github.com> <49699333+dependabot[bot]@users.noreply.github.com>
